{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Ваши заказанные книги
{% endblock %}
{% block content %}
<style>
h1 {font-size: 32px; color: #000000}
h3 {text-align: center; }
table {width: 100%; border-collapse: separate; border-spacing: 4px;}
table thead tr { color: #90806A; font-weight: bold;}
table thead tr td {border-radius: 4px; background: #90806A;}
table tbody tr td {border: 1px solid #2e82c3; border-radius: 4px; background: #cbdfef;}
table tbody tr td:hover {background: #a2c3dd; transition-duration: 0.2s;}
img { width: 200; height: 250; padding-left: 15%; padding-right: 15%; }
body {background: #F4F7EE;}
</style>
    <h1>Заказы</h1>
    <table class="cart">
        <thead>
        <tr>
            <th><h1>Изображение</h1></th>
            <th><h1>Книга</h1></th>
            <th><h1>Количество</h1></th>
            <th><h1>Убрать</h1></th>
            <th><h1>Цена за шт.</h1></th>
            <th><h1>Сумма</h1></th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static 'img/no_image.png' %}
                                {% endif %}">
                        </a>
                    </td>
                    <td><h3>{{ product.name }}</h3></td>
                    <td><h3>{{ item.quantity }}</h3></td>
                    <td><h3><a href="{% url 'cart:cart_remove' product.id%}">Remove</h3></a></td>
                    <td class="num"><h3>{{ item.price }}руб.</h3></td>
                    <td class="num"><h3>{{ item.total_price }}руб.</h3></td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td><h3>Итого</h3></td>
            <td colspan="4"></td>
            <td class="num"><h3>{{ cart.get_total_price }}руб.</h3></td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'shop:product_list' %}" class="button light">Продолжить выбор книг</a>
        <a href="#" class="button">Заказать</a>
    </p>
{% endblock %}