{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.title }}{% else %}Животные{% endif %}
{% endblock %}
{% block content %}
<style>
img {width: 300; height: 300;}
</style>
<div id="product-detail">
    <div class="header-h1">
        <div id = "imgDetail">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        </div></div>
    <div id = "infoDetail">
        <div class="three">
            <h1>{{ product.name }}</h1>
        </div>
        <h3 class="price">Цена: {{ product.price }} руб.</h3>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
        <input type="submit" value="Добавить в список покупок">
        </form>
        {{ product.description|linebreaks }}
        <h4><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h4>
    </div>
</div>
{% endblock %}