{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Книги{% endif %}
{% endblock %}
{% block content %}
<style>
    #bookIMG {width: 400; height: 500;}
    #sidebar {background-color: rgb(255, 255, 128); }
   url(https://fonts.googleapis.com/css?family=Lora);
body {margin:0;}
h2 {
  font-family: monospace;
  color: #606060;
}
ul {
  list-style: none;
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
nav {
  display: block;
  margin: 0 auto 30px;
}
.two ul {
  background: #D4E7EE;
  overflow: hidden;
  padding: 0;
}
.two li {
  float: left;
}
.two a {
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: rgba(173, 192, 206, .3);
  color: #29838C;
}
.two a:hover {background: #ADC0CE}
.three ul {
  padding: 0;
  background: #E4EFD1;
}

.four {
  background: #F4F7EE;
  padding: 50px 20px;
  text-align: center;
}
.four h1 {
  font-family: 'Merriweather', serif;
  position: relative;
  color: #C44737;
  font-size: 50px;
  font-weight: normal;
  padding: 8px 20px 7px 20px;
  border-top: 4px solid;
  border-left: 4px solid;
  display: inline-block;
  margin: 0;
  line-height: 1;
}
.four h1:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: -28px;
  left: -28px;
  border: 4px solid #C44737;
  box-sizing: border-box;
}
@media (max-width: 450px) {
  .four h1 {font-size: 36px;}
  .four h1:before {
    width: 20px;
    height: 20px;
    top: -20px;
    left: -20px;
  }
}

.header-h1 {
    text-align: center;
    margin-bottom: .5rem;
  }
  .header-h1 a {
    display: inline-block;
    background: #0097a7;
    color: #fff;
    margin-bottom: 0;
    padding: .5rem 1rem .625rem 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 30px;
  }
  .three {
  background: #F4F7EE;
  padding: 50px 20px;
  text-align: center;
}
.three h1 {
  font-family: 'Merriweather', serif;
  position: relative;
  color: #FCF2E5;
  background: #90806A;
  font-size: 2.5em;
  font-weight: normal;
  padding: 10px 40px;
  display: inline-block;
  margin: 0;
  line-height: 1;
}
.three h1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -15px;
  background: #90806A;
}
.three h1:after {
  content: "";
  position: absolute;
  height: 0;
  width: 80%;
  border-top: 10px solid #90806A;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
}
@media (max-width: 500px) {
  .three h1 {font-size: 1.8em;}
}
@media (max-width: 400px) {
  .three h1 {
    font-size: 1.5em;
    padding: 10px 30px;
  }
}
.header-h1 {background: #F4F7EE;}
.main {background: #F4F7EE;}
</style>
    <div id="sidebar">
        <div class="four"> <h1>Категории</h1></div>
        <nav class="two">
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">Все категории</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
            </nav>
    </div>
    <div id="main" class="product-list">
       <div class="three"> <h1>{% if category %}{{ category.name }}{% else %}Книги{% endif %}</h1></div>
        {% for product in products %}
            <div class="item">
                <div class="header-h1">
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                <a href="{{ product.get_absolute_url }}">
                    <img id = "bookIMG" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}