{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Магазин электронной техники{% endif %}
{% endblock %}
{% block content %}
<style>
a {text-decoration: none;}
    #bookIMG {width: 400; height: 350;}
   .sidebar ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:25px; /*делаем отступ сверху*/
}
.sidebar a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#30A8E6; /*добавляем фон к пункту меню*/
  color:#fff; /*меняем цвет ссылок*/
  padding:10px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  border-radius:4px; /*добавляем скругление*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
.sidebar a:hover {
  background:#1C85BB;/*добавляем эффект при наведении*/
}
.sidebar li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
  margin-right:5px; /*Добавляем отступ у пунктов меню*/

}
.two ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:25px; /*делаем отступ сверху*/
  background:#F44; /*добавляем фон всему меню*/
  height: 50px; /*задаем высоту*/
}
.two a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#FF4444; /*добавляем фон к пункту меню*/
  color:#fff; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: block;
  border-right: 1px solid #F36262; /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;

}
.two a:hover {
  background:#D43737;/*добавляем эффект при наведении*/
}
.two li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
}
.item {border: thick double #32a1ce; width: 30%;}

  .header-h1 {
    position: relative;
    margin-bottom: .5rem;
  }
  .header-h1 h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-left: 3rem;
    color: #e91e63;
  }
  .header-h1 h1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2.25rem;
    height: 2.25rem;
    background: #e91e63;
  }
  .header-h1 h1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 2rem;
    width: 100%;
    height: .25rem;
    background-color: #e91e63;
  }
</style>
</br></br>
<div class="header-h1">
  <h1>Магазин электронной техники</h1>
</div>
    <div class="sidebar" align="center">
        <nav class="two" align="center">
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">Все категории</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
            </nav>
    </div>
</br>
    <div id="main" class="product-list" align="center">
        </br></br>
       <div class="one"> <h1>{% if category %}{{ category.name }}{% else %}Электронная техника{% endif %}</h1></div>
        </br></br>
        {% for product in products %}
            <div class="item">
                <div>
                    <a href="{{ product.get_absolute_url }}"><h3>{{ product.name }}</h3></a><br>
                <a href="{{ product.get_absolute_url }}">
                    <img id = "bookIMG" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
                </div>
            </div>
            </br></br>
        {% endfor %}
    </div>
{% endblock %}