{% load static %}

<style>
    .subheader {background: #F4F7EE;}
    nav .header a{
			    display:block;
			    padding:3px;
			    color:#000;
			    font-size:16px;
			    line-height: 20px;
			    text-decoration:none;
			}
			nav {position: relative;}
</style>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Каталог книг{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<nav>
<div id="header">
    <a href="/" class="logo">Каталог книг</a>
</div>
<!--<div id="subheader">
    <div class="cart">
        Your cart is empty.
    </div>-->
</div>
</nav>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>